version: '3.8'

services:
  clash-cleaner:
    build: .
    image: clash-proxy-cleaner:local # Local build
    container_name: clash_cleaner
    restart: unless-stopped
    ports:
      - "8090:8000"
    environment:
      - CRON_INTERVAL=3600
      - MAX_LATENCY=1500
      # 请根据实际情况修改 Socks5 代理地址
      - SOCKS5_PROXY=socks5://192.168.8.88:1080
    volumes:
      - ./data:/app/data
